.category-list {
    display: flex;
    flex-direction: column;     
}
.category-title {
    font-weight: bold;    
}
.category-title, .category-item {
    border-bottom: 1px solid #D3D3D3;
    max-width: 300px;
    padding: 5px;  
    text-decoration: none;   
}
.category-item {
    color: #D3D3D3;
}
@media screen and (max-width: 767px) {
    .category-list {
      width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    
}
@media screen and (min-width: 768px) and (max-width: 1023px) { 
    
}