.category-list {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;     
}
.category-title {
    font-weight: bold;    
}
.category-title, .category-item {
    border-bottom: 1px solid #D3D3D3;
    width: 46%;
    padding: 10px;  
    text-decoration: none;   
}
.category-item {
    color: #D3D3D3;
}