.card {
    max-width: 400px;
    display: flex;
    flex-direction: column; 
    background-color: white;
    margin: 10px;  
}
.card .card-title {
    color: #424242;
    padding: 10px;
}
.card .card-subtitle {
    color: #9B9B9B;
    padding: 10px;
}
.card .card-readmore {
    color: #0080BA;
    padding: 10px;
}
