.card {
    max-width: 400px;
    display: flex;
    flex-direction: column; 
    background-color: white;  
}
.card .card-title {
    color:black;
    padding: 10px;
}
.card .card-subtitle {
    color: gray;
    padding: 10px;
}
.card .card-readmore {
    color: blue;
    padding: 10px;
}
