.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.subtitle {
    color: #9B9B9B;
}
.card {
    max-width: 400px;
    height: 500px;
    display: flex;    
    border: 3px solid #cecece;
    box-shadow: 0 0 10px  #9B9B9B;
    border-radius: 3%; 
    margin: 15px;
    float: left;  
}
.card img {
    border-radius: 10px 3% 0 0;
    width: 100%;    
}
.card .card-title {
    color: #424242;
    padding: 5px;
}    
.card .card-subtitle {
    color: #9B9B9B;
    padding: 5px;
    
}
.card .card-readmore {
    color: #0080BA;
    padding: 5px;
    
}


   