.search-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 200px;
    position: relative;       
}
.search-title {
    font-weight: bold;
}
.search-button {
  position:absolute;
  top: 30px; right:5px;
  z-index: 10;
  border:none;
  background:transparent;
  outline:none;
}
.search-container input {
    width: 100%; 
    padding: 3px;
}
.search-icon {
    color: #d3d3d3;
}